<div class="col-12 h-100">
    <div class="row d-flex h-100" *ngIf="isBothJoined">
        <div class="col-md-8">
            <div class="h-100 d-flex justify-content-center align-items-center">
                <div class="row w-md-75">
                    <div class="row mb-md-5 d-flex justify-content-center">
                        <div class="title w-auto">
                            Quize <strong>3</strong> of <strong>5</strong>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="quize-img w-auto">
                            <img class="p-4" [src]="imgeUrl" />
                        </div>
                    </div>

                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="row d-flex justify-content-center align-items-center">
                            <mat-form-field class="mat-form-field mat-form-field-100" appearance="outline">
                                <input matInput autocomplete="off" type="number" [formControl]="answerCtrl"
                                    (focus)="onAnswerFocused()" />
                            </mat-form-field>
                            <button mat-flat-button class="w-auto " color="primary" (click)="onSubmit()">Submit
                                answer</button>
                        </div>
                        <div *ngIf="isInvalidAnswer"
                            class="row pt-3 w-100 d-flex justify-content-center align-items-center">
                            <h6 class="w-auto text-danger">Invalid answer, try again</h6>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4  d-flex justify-content-center align-items-center">
            <div class="w-100  p-md-5  d-flex flex-column justify-content-center">
                <h4>You</h4>
                <div class="row mb-4">
                    <div class="mr-3 w-auto" *ngFor="let item of currentPlayerGame.Questions">
                        <mat-icon [class.text-success]="item.IsCompleted">
                            {{item.IsCompleted?'check_circle': 'circle'}}
                        </mat-icon>
                    </div>

                </div>
                <h4>
                    {{opponentGame.PlayerName}}
                </h4>
                <div class="row">
                    <div class="mr-3 w-auto" *ngFor="let item of opponentGame.Questions">
                        <mat-icon [class.text-success]="item.IsCompleted">{{item.IsCompleted?'check_circle': 'circle'}}
                        </mat-icon>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
